$mainDark: #343a40;
$mainGrey: #595c61;
$mainLightGrey: #acafb3;
$mainWhite: #fff;
$mainBlue: #1179e0;

.nav-bar{

  border:1px solid black;

}

.logo-banner{

  padding-bottom: 1rem;
}

.app {
  text-align: center;

  &__nav-bar{

    padding-bottom: 1rem;
    padding-top: 1rem;
    


  }

  &__banner{

    img{
      min-width : 100%;
      text-align: center;
      
  }

  }
}

.gradient-background{

&__ui01{
  background: rgb(206,128,252);
  background: linear-gradient(90deg, rgba(206,128,252,1) 0%, rgba(251,195,255,1) 100%);
}

}
